<nav class="navbar navbar-expand-sm navbar-light border-bottom sticky-top">
  <a class="navbar-brand" href="/"><i class="fa-solid fa-compass"></i></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse bg-white" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Home </a>
      <a class="nav-item nav-link" href="/listings">All Listings</a>
      <a class="nav-item nav-link" href="/listings/new">Add new Listings</a>
    </div>
    <div class="navbar-nav signup">
      <% if(!currentUser) { %>
      <a class="nav-item nav-link active" href="/signup">Signup </a>
      <a class="nav-item nav-link" href="/login">Login</a>
      <% } %> <% if(currentUser) { %>
      <a class="nav-item nav-link logout" href="/logout"
        >Logout <i class="fa-solid fa-arrow-right-from-bracket"></i
      ></a>
      <% } %>
    </div>
  </div>
</nav>
