<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Listing</title>
  </head>
  <body>
    <h3>Create new List :</h3>
    <form action="/listings" method="post">
      <input
        type="text"
        placeholder="Title"
        required
        name="listing[title]"
      /><br /><br />
      <textarea
        type="text"
        placeholder="Description"
        name="listing[description]"
        rows="5"
        cols="20"
      ></textarea
      ><br /><br />
      <input
        type="text"
        placeholder="Image URL"
        name="listing[image]"
      /><br /><br />
      <input
        type="number"
        min="1"
        placeholder="price"
        name="listing[price]"
      /><br /><br />
      <input
        type="text"
        placeholder="Add location"
        name="listing[location]"
      /><br /><br />
      <input
        type="text"
        placeholder="Country"
        name="listing[country]"
      /><br /><br />
      <button type="submit">Create</button>
    </form>
  </body>
</html>
