<% layout("/layout/boilerplate") %>

<div class="d-flex justify-content-center">
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-fire"></i>
    <p>Trending</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-bed"></i>
    <p>Rooms</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-city"></i>
    <p>Iconic Cities</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-mountain"></i>
    <p>Mountains</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-brands fa-fort-awesome"></i>
    <p>Castles</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-person-swimming"></i>
    <p>Amazing Pool</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-tree"></i>
    <p>Camping</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-cow"></i>
    <p>Farms</p>
  </div>
  <div class="mx-3 mt-4 text-center filter">
    <i class="fa-solid fa-snowflake"></i>
    <p>Arctic</p>
  </div>
</div>

<h3 class="mt-4 mb-4">All Listings</h3>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
  <%for(let list of listing) { %>
  <a href="/listings/<%= list._id %>" class="list-link">
    <div class="col">
      <div class="card listing-card" style="width: 20rem">
        <img
          class="card-img-top"
          src="<%= list.image.url %>"
          alt="Listing image"
          style="height: 20rem"
        />
        <div class="card-img-overlay"></div>
        <div class="card-body">
          <p class="card-text">
            <b><%= list.title %></b><br />
            &#8377;<%= list.price.toLocaleString('en-IN') %>/night
          </p>
        </div>
      </div>
    </div>
  </a>
  <% } %>
</div>
