<% layout("/layout/boilerplate") %>
<body>
  <h3>All listings</h3>
  <ul>
    <%for(let list of listing) { %>
    <li><a href="/listings/<%= list._id %>"><%= list.title %></a></li>
    <% } %>
  </ul>
</body>
