<% layout("/layout/boilerplate") %>
<body>
  <h3 class="text-danger p-3 font text-center">Create new List</h3>
  <div class="row">
    <div class="col-8 offset-2">
      <form action="/listings" method="post">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            placeholder="Add a catchy title"
            class="form-control"
            required
            name="listing[title]"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            placeholder="Description"
            name="listing[description]"
            rows="5"
            cols="20"
            class="form-control"
          ></textarea>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            type="text"
            class="form-control"
            placeholder="Image URL"
            name="listing[image]"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              class="form-control"
              min="1"
              placeholder="1000"
              name="listing[price]"
            />
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              class="form-control"
              placeholder="Pakistan"
              name="listing[country]"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            class="form-control"
            placeholder="Lahore, Pakistan"
            name="listing[location]"
          />
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-danger p-2">Create</button>
        </div>
      </form>
    </div>
  </div>
</body>
